<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div>Name<br/>
    <%= f.text_field :name %></div>

  <div>Email<br/>
    <%= f.email_field :email %></div>

  <div>Password<br/>
    <%= f.password_field :password %></div>

  <div>Password confirmation<br/>
    <%= f.password_field :password_confirmation %></div><br/>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%#= render :partial => "devise/shared/links" %>
