<!DOCTYPE html>
<html>
  <head>
    <title>Qablog</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="inner_body">
      <div>&nbsp;</div>
      <div class="main_wrap">
        <div class="FR sign">
          <ul></ul>
        </div>
        <div class="FL" style="padding:5px 5px 0 0;">
          <div class="FL head_text">QA blog</div>
          <div class="clear"></div>
        </div>
        <div class="FR" style="padding:5px 5px 0 0;">
          <div class="FL text">Search</div>
          <div class="FL"><input name="" type="text"  class="text_aria"/></div>
          <div class="clear"></div>
        </div>
        <% if user_signed_in? %>
          <div class="FR" style="padding:5px 5px 0 0;">
            <div class="FL textnew">
              <%= current_user.name %>&nbsp;&nbsp;<%= image_tag current_user.gravatar_url(:size => 30, :default => "identicon") %>
            </div>
            <div class="FL"></div>
            <div class="clear"></div>
          </div>
        <% end %>
        <div class="clear"></div>
        <div style="height:10px"></div>
      </div>
      <div class="nav_bg">
        <div class="main_wrap">
          <div class="nab">
            <ul>
              <% if !user_signed_in? %>
                <li style="background:none;"><%= link_to 'Home' %></li>
                <li><%= link_to 'About Us' %></li>
                <li><%= link_to 'Carrier' %></li>
                <li><%= link_to 'Blog' %></li>
                <li><%= link_to 'Contact Us' %></li>
                <li><%= link_to 'Sign In', new_user_session_path%></li>
                <li><%= link_to 'Sign Up', new_user_registration_path%></li>
                <li>&nbsp;</li>
              <% else %>
                <li style="background:none;"><a><%= link_to 'Home' %></a></li>
                <li><%= link_to 'Ask Question', new_question_path %></li>
                <li><%= link_to 'Account',edit_user_registration_path %></li>
                <li><%= link_to 'Log Out',destroy_user_session_path, :method => 'delete'%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% if flash[:alert] or flash[:notice] %>
        <div id="notice" <% if flash[:alert] or flash[:notice] %> class="warning"<% end %>>
          <%= flash[:alert] || flash[:notice] %>
        </div>
        <script type="text/javascript">setTimeout("$('#notice').hide();", 5000)</script>
      <% end %>
      <div class="main_wrap">
        <div style="height:8px;"></div>
        <div></div>
        <div class="body_bg" style="height:500%;overflow: hidden;padding-left: 20px;">
          <div style=" height: 20px"></div>
          <%= yield %>
          <div style=" height: 400px"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="main_wrap">
        <div class="footer_nab">
          <ul>            
            <li><a href="#">About Us</a></li>
            <li><a href="#">Carrier</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Links</a></li>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div class="clear"></div>
        <p>&nbsp;</p>
      </div>
    </div>
  </body>
</html>